<div class="hero">
    <div class="hero-content">
      <h2>¿Estás en busca del inmueble ideal?</h2>
      <h3>Estamos aquí para ayudarte a encontrarlo.</h3>
      <p>
        Disponemos de una extensa selección de propiedades en arriendo y venta,
        ubicadas en diversas ciudades de Colombia. Nuestro equipo está preparado
        para atender tus necesidades, incluso a nivel internacional.
      </p>
      <h3>
        ¡Descubre ahora los inmuebles disponibles y encuentra el que mejor se adapta
        a ti!
      </h3>
      <div class="buttons">
        <button class="btn-primary">Conoce todas las propiedades</button>
        <button class="btn-secondary">Contáctanos ahora</button>
      </div>
    </div>
  
    <img src="/images/service1.jpg" alt="Imagen de fondo" class="background-image" />
  </div>
  
  <style>
    .hero {
      position: relative;
      width: 100%;
      height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-align: center;
      overflow: hidden;
    }
  
    .hero-content {
      position: relative;
      z-index: 1;
      width: 100%;
      padding: 20px;
    }
  
    h2 {
      font-size: 2.3rem;
    }
  
    h3 {
      font-size: 1.5rem;
      margin-top: 15px;
    }
  
    p {
      font-size: 1rem;
      margin: 10px 0;
    }
  
    .buttons {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 20px;
    }
  
    .btn-primary,
    .btn-secondary {
      border-radius: 5px;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      color: white;
      background-color: #84c3a8;
      transition: all 0.3s ease;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  
    .btn-primary:hover,
    .btn-secondary:hover {
      background-color: #6fae94;
      transform: translateY(-3px);
    }
  
    .background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(0.5);
      z-index: -1;
    }
  </style>